.main404 {
    @media (min-width: 992px) {
        background-color: #1d1d1d63 ;  
        background-attachment: fixed;
        height: 100vh;
    }
    background-color: #1d1d1d63 ;
    height: 100vh;
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 300px;
		font-size: 100px;
		font-family: "Jakarta";
        font-weight: 900;
	}
	h2 {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		font-size: 20px;
		font-family: "Jakarta";
        font-weight: 900;
	}
    h3 {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
        margin-top: 30px;
		font-size: 10px;
		font-family: "Jakarta";
        font-weight: 900;
	}
}
