.main6 {
    div {
        position: relative;
        top: 80px;
        h1 {
            font-weight: 700;
        }
        p {
            top: 70px;
            font-size: 1rem;
            line-height: 2rem;
            margin-bottom: 20px;
            margin-bottom: 10px;
            padding: 8px;
            text-decoration: none;
        }
        a {
            color: #000000;
            font-weight: 500;
        }
    }
}