.main5 {
    div {
        position: relative;
        top: 80px;
        h1 {
            font-weight: 700;
        }
        p {
            font-size: 1rem;
            line-height: 2rem;
            margin-bottom: 20px;
            margin-top: 20px;
            padding-bottom: 20px;
        }
    }
}